output/filter/*
output/plots/*
output/reco/*
databese/*.sqlite
scoring/hipo/*
output/opt/*
data/*
config/spaces/example_space.yaml
config/rich.yaml
scripts/__pycache__/*
database/__pycache__/*
optimization/__pycache__/*
.idea/*
