output/filter/*
output/plots/*
output/reco/*
output/opt/*
config/ccdbsnapshot/*.sqlite
data/*
config/rich.yaml
config/globalpath.py
scripts/__pycache__/*
config/__pycache__/*
config/optimization/*
src/python/__pycache__/*
.idea/*
